# Ignore development dependencies.
/node_modules/
/vendor/
/tools/
.DS_Store

# Supported local overrides.
/.env
/phpcs.xml
/.wp-env.override.json

# Ignore logs and database dumps.
*.log
*.sql
*.sqlite
